# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [2]:
# for keyword variable itertartor/counter, in keyword, object (iterable)

dog = "shadow"

for letter in dog:
    print(letter)
    
names = ['ryan', 'alex', 'chuck', 'salim', 'patrick', 'ethan']

for name in names:
    print(name)
    
numbers =[1, 2, 34, 4, 6, 7]

for num in numbers:
    print(num)

s
h
a
d
o
w
ryan
alex
chuck
salim
patrick
ethan
1
2
34
4
6
7

In [4]:
#range is not inclusive
numbers = range(10)

for num in numbers:
    print(num)
    
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
name = "Ryan  Rhodes"

length = len(name)
print(length)

#takes the length of na object or/iterable and grabs the number of characters or the length
#then we loop thorugh the range that length len(name) = 12, loops through range(12)
#for i in range(12)

for i in range(len(name)):
    print(i)

12
0
1
2
3
4
5
6
7
8
9
10
11

##### Using 'in' keyword

In [7]:
#with conditinoals in checks for memebership
#if 'p' in word:
#     print ('Its here')

for i in  range(15):
    print(i**2)
    
name = "Barney"

name2 = "Baby Bop"

for letter in name:
    if letter in name2:
        print("oh neat, same letter")
    else:
        print('not the same letter')

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
oh neat, same letter
oh neat, same letter
not the same letter
not the same letter
not the same letter
oh neat, same letter

##### Continue Statement

In [9]:
#continue will move on to the next iteration if a condition is met
#for i in range(20)
    print(i)
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [11]:
# stops the loop from iterating if a certain condition is met
for i in range(20):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

##### Pass Statement

In [ ]:
#mostly a placeholder

for i in

##### Double For Loops

In [12]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [14]:
#while keyword, condition
#while loop will run based on the condition statement

counter = 0
while counter < 11:
    counter += 1
    print(counter)

print("\n")

num = 0
while num <15:
    print(num**2)
    num +=1

1
2
3
4
5
6
7
8
9
10
11


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [15]:
#breaks with while loop
num = 0
while num <15:
    num += 1
    if num ==7:
        break
    print(num)
names = ['a', 'b' , 'c', 'd']

1
2
3
4
5
6

##### looping 'While True'

In [16]:
#true as a condition for a while loop to run
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

In [18]:
game_running = True
num = 7
while game_running:
    print("checking num")
    if num == 7:
        game_running = False

checking num

In [22]:
while True:
    name = input("What is your name?")
    if name == '':
        print('Thats empty please enter a name')
    else:
        print(name)
        break

What is your name?
Thats empty please enter a name
What is your name?Leo the king
Leo the king

##### While & For Loops Used Together

In [23]:
j = 0

while j < 10:
    print("\nWhile Loop Iteration : " + str(j))
    
    for i in range(4):
        print("For loop iteratino: " + str(i))
        
    j += 1

While Loop Iteration : 0
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 1
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 2
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 3
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 4
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 5
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 6
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 7
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 8
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

While Loop Iteration : 9
For loop iteratino: 0
For loop iteratino: 1
For loop iteratino: 2
For loop iteratino: 3

##### The Range Function

In [26]:
# range (start, stop , step) - stop is the only required parameter and is not inclusive
# start will default to 0 if not provided step will default to 0 if not provided
# step will default to 1 if not provided

#stop
for i in range (5):
    print(i)
print("\n")
#start, stop
for i in range(1, 10):
    print(i)
print("\n")

#start, stop, step
for i in range(1, 10, 3):
    print(i)

0
1
2
3
4


1
2
3
4
5
6
7
8
9


1
4
7

In [27]:
numbers = [1,2,3,4,5,6,7]

for num in numbers:
    print(num**2)

1
4
9
16
25
36
49

### String Manipulation Exercise

In [42]:
#loop through the list below and strip all white space and title case each string
#print each corrected name
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

for i in names:
    print(i.title().strip())

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

In [43]:
#declaring and empty list
our_list = [] #<-- empty list

names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree']

##### Indexing a List

In [48]:
#[start:stop:step] -->[-1]
# our_list[2]
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]
#single index
print(names[2])

#print starting at the index 1 and going to the end of the list
print(names[1:])
new_list = names[1:]
print(new_list)

#print starting at the beggining of the list and going up to the specified index
print(names[1::2])
copy_list = names [1::2]
print(copy_list)

#reversing a list (starting at the back and printing every item going to the front)
print(names[::-1])

Chuck
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Lyle', 'Manja']
['Lyle', 'Manja']
['Desiree', 'Manja', 'Chuck', 'Lyle', 'Alex']

### List Methods

##### .append()

In [49]:
#append add to the back of a list
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

names.append('Ben')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben']

In [52]:
print(names[:2:-1])

['Ben', 'Desiree', 'Manja']

In [53]:
names.append('Fabian"')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben', 'Fabian"']

In [54]:
print(names[:4:-1])

['Fabian"', 'Ben']

In [57]:
numbers = [1,2,3,4,5,6]
numbers.append(12)
numbers.append(16)
numbers.append(28)

print(numbers)

[1, 2, 3, 4, 5, 6, 12, 16, 28]

In [59]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

title_list = []
for name in names:
    title_list.append(name.title().strip())
    
print(title_list)

['Connor', 'Max', 'Evan', 'Jordan']

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Bill', 'Ted', 'Bill', 'Ted']

##### .insert()

In [60]:
#takes in an element and an index
names = ['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree']
names.insert(3, 'Ryan')
print(names)

['Alex', 'Lyle', 'Chuck', 'Ryan', 'Manja', 'Desiree']

In [61]:
new_data = [5,6,1,10,11,334,12,123]
new_data.insert(2,56)
print(new_data)

[5, 6, 56, 1, 10, 11, 334, 12, 123]

In [62]:
print(len(new_data))
print(range(len(new_data)))

9
range(0, 9)

In [64]:
for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i,names[i])
        
print(new_data)

[5, 6, 56, 'Ryan', 1, 10, 11, 334, 12, 123]

##### .pop()

In [66]:
# pop will be default remove the last item in a list
#otherwise it takes an index and will pop out the value at t he index from the list

names = ['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree']
bye_bye_name = names.pop(3)
print(bye_bye_name)

other_list = []
other_list.append(names.pop())
print(other_list)

Manja
['Desiree']

##### .remove()

In [67]:
# remove by specific value -> my_list.remove(element)

names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [70]:
names.remove('Bob')
print(names)

['Billy', 'Berry', 'Bertha', 'Bert']

In [ ]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [71]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
print(names)
while 'Bob' in names:
    names.remove('Bob')
    
print(names)

#for i in range(len(names)):
#  if names[i] == "Bob":
    #     names.remove(names[i])
    #print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [57]:
#index to be removed, not value
# this can be used to delete a whole list

SyntaxError: cannot delete literal (13714010.py, line 6)

##### min()

-12
Alex

##### max()

10
Zoop

##### sum()

13

##### sorted()

[-12, 1, 3, 5, 6, 10]
[-12, 1, 3, 5, 6, 10]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

Numbers before sort [3, 6, 1, 5, 10, -12]
None
Numbers after sort [-12, 1, 3, 5, 6, 10]
Hello
Hello
hello

##### Copying a List

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]

##### Looping Through Lists

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
1
1
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

##### 'in' keyword

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

Frederick is not a Ranger, booooo Frederick

##### Checking an Empty List

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [72]:

names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: you might need an append
# Hint 2: you might need an empty list
# Hint 3: are you actually removing......

my_dup = []
i = 0

while i < len(names):
    if names[i] not in my_dup:
        my_dup.append(names[i])
        i += 1
    else: 
        names.remove(names[i])
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [78]:
nums = [2,4,5,6,10,3,5,7,9,11]
nums_squared = []
#for loop way
for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

#list compreshension way

num_squared = [num**2 for num in nums]
print(num_squared)

#list comprhension with conditional 
more_squared = [num**2 for num in nums if num%2 == 0]
print(more_squared)

[4, 16, 25, 36, 100, 9, 25, 49, 81, 121]
[4, 16, 25, 36, 100, 9, 25, 49, 81, 121]
[4, 16, 36, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [80]:
pets = ['elliot', 'eyo', 'henri','lucy','eyeball','astro','jimmy','kino','pi', 'penny' ]
letter_names = [name[0]for name in pets if name[0] != 'e']
print(letter_names)

['h', 'l', 'a', 'j', 'k', 'p', 'p']

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
2
6
tuple length 3
1
2
3
4
5
6

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [12]:
alist = [1,11,14,5,8,9]

for i in alist:
    if i <= 10:
        print(i)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [26]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

new_list = l_1 + l_2
print(sorted(new_list))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [27]:
for i in range(15+1):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [33]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']


for i in names_list:
    print(i.strip())

amy
Briant
Ryan
Alex
steve

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>